<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body >

<section style="width:95%; margin:auto;">
<br>
<h1>
SOME INSTRUCTIONS PRIOR BLOOD DONATION</h1>
<div style=" font-family: arial; font-size: 25px;">
 <div style="margin-left: 30px">
<div > Do not donate blood on an empty stomach.</div>
<div > Maintain a gap of 30 min after meal.</div>
<div > Good sleep on the previous night.</div>
<div> Drink water (2 glass) before blood donation.</div>
<div >Do not donate blood if you have fever, taking antibiotics or aspirin or antihistamine or insulin.</div>
<div > Do not take alcohol 24hrs prior blood donation.</div>
<div > Do not smoke 30 min before or after blood donation.</div>
<div > Avoid driving, vigorous exercise or playing tennis for at least 2-3hrs after blood donation.</div>
</div>
 </div> 
 <br>

<h1>SOME INSTRUCTIONS AFTER BLOOD DONATION </h1>

 <div style="font-family: arial; font-size: 25px;">

 <div style="margin-left: 30px">
<div>Eat and Drink something before leaving the blood donor area.</div>
<div>Drink more fluid for next 4 hours.</div>
<div>If there is bleeding from phlebotomy site raise arm and apply pressure to the site.</div>
<div>If fainting or dizziness occur either lie down or sit with the head between the knees.</div>
<div>If the symptom persist either telephone or returns to the blood bank or see a doctor.</div>
<div>Resume all normal activity if asymptomatic.</div>
<div>Remove bandage after 1 hour.</div>
</div>
</div>

</section>
	
	

</body>
</html>