<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<section style="font-family: 'Times New Roman', serif;">
	



	

	
	<div class="container p-5">
<div class="row">
<div class="col-md-6 offset-md-3">
<div class="card">
  <div class="card-header text-center fs-4">
   Invite your friend
  </div>
					

	
	<div class="card-body">
	
	<form action="invitetransfer" method="post">
	<div class="mb-3">
	<label>Enter Email</label><input type="email" name="frindEmail" class="form-control" placeholder="Enter your frined email">
	
	</div>
	
	
	
	<div>
		<button class="btn  col-md-6 text-white" style="background:#333356" >Invite</button>
		
	

	
	</div>
	

	
	
	
	</form>
	
	
	</div>
	


</div>


</div>


	
	
	
	
</div>
		
		
		 </div>
		

	</section>

</body>
</html>